/* Kontakt */
.kontakt .left{
    flex-direction: column;
    align-items: flex-start;
}
.kontakt .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.kontakt .info > *{
    color: #FFFFFF;
    font-family: var(--sans-serif-font);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 3% 0;
}
.kontakt form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kontakt input, .kontakt textarea{
    font-family: var(--serif-font);
    font-size: 1rem;
    border-radius: 20px;
    margin: 2%;
    padding: 15px;
    width: 400px;
    height: 40px;
    border: none;
}
.kontakt .wiadomość{
    height: 200px;
}
.kontakt .button{
    margin: 2%;
    background-color: var(--main-color1);
    color: #FFFFFF;
    width: 250px;
    border-radius: 30px;
}
.kontakt .mapa{
    width: 80%;
    height: 50%;
}
.kontakt .mapaframe{
    width: 100%;
    height: 100%;
}