/* Main section +*/
.main{
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--sans-serif-font);
}
.main .right{
    flex-direction: column;
}
.main .czas{
    font-size: 2rem;
}
.main .cytat{
    font-size: 6rem;
}
.main .cytat div{
    margin: 2%;
}