/* Main section +*/
.main{
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--sans-serif-font);
}
.main .right{
    flex-direction: column;
}
.main .czas{
    font-size: 2rem;
}
.main .cytat div{
    margin: 2%;
}
.main .cytat{
    font-size: 6rem;
}
.main .czas{
    font-size: 2.5rem;
}
.main .cytat.dark p{
    text-shadow: -1px 0 var(--main-color2), 0 1px var(--main-color2), 1px 0 var(--main-color2), 0 -1px var(--main-color2);
}
.main .cytat.light p{
    text-shadow: -1px 0 var(--main-color1), 0 1px var(--main-color1), 1px 0 var(--main-color1), 0 -1px var(--main-color1);
}