/* Main section */
.main .right{
    flex-direction: column;
}
.main .czas{
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}
.main .left img, .main .right img{
    width:100%;
}