/* O nas +*/
.onas .lista-sluzb{
    width:25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.onas .sluzba{
    font-size: 1.8rem;
    cursor: pointer;
}
.onas .more{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onas .cytat{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
}
.onas .cytat p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    padding-bottom: 2%;
}
.onas .info{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.onas .description{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onas .description img{
    height: 80%;
    width: auto;
    overflow: hidden;
}
.onas .left{
    font-family: var(--sans-serif-font);
}
.onas .list{
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}
.onas .button{
    position: fixed;
    z-index: 3;
    bottom: 2rem;
    left: 1rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.onas.light .button{
    background-color: var(--main-color1);
    animation: button-pulse-dark 2s infinite;
}
.onas.dark .button{
    background-color: var(--main-color2);
    animation: button-pulse-light 2s infinite; 
}
.onas .cross{
    width: 60%;
    height: 1px;
    margin: 1.5px;
}
.onas.dark .cross{
    background: var(--main-color1);
}
.onas.light .cross{
    background: var(--main-color2);
}

/* Animations */
@keyframes list-slide-in{
    0%{
        left: -100vw;
    }
    100%{
        left: 0;
    }
}

/* Resposivness */
@media only screen and (min-width: 991px){
    .onas .button{
        display: none;
    }
}
@media only screen and (max-width: 992px){
    .onas .left{
        position: relative;
        width: 100%;
        height: 0%;
        order: 2;
    }
    .onas .right{
        width: 100%;
        height: 100%;
        order: 1;
    }
    .onas .left, .onas .right{
        padding: 0 3%;
    }
    .onas .list{
        position: fixed;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        bottom: -100vh;
        left: -100vw;
        border-radius: 100%;
        transition: all 1s ease-out;
        box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.22), 0px 19px 38px rgba(0, 0, 0, 0.3);
    }
    .onas.dark .list{
        background: var(--main-color1);
    }
    .onas.light .list{
        background: var(--main-color2);
    }
    .onas .list.open{
        bottom: 0;
        left: 0;
        border-radius: initial;
    }
    .onas .sluzba{
        position: relative;
        margin: 1%;
    }
    .onas .sluzba.pre-animate{
        left: -100vw;
    }
    .onas .sluzba.animate{
        animation: list-slide-in .5s ease-out;
    }
    .onas .button{
        justify-self: flex-start;
    }
}